<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" type="text/css"/>
    <title>Spring Boot Application</title>
</head>
<body>

<script src="webcomponents/suggestion/componentModule.js"
        th:src="@{/webcomponents/suggestion/componentModule.js}"
        type="module"> </script>
<script src="webcomponents/suggestion/loggerComponent.js"
        th:src="@{/webcomponents/logger/loggerComponent.js}"
        type="module"> </script>

<h1>Welcome to Thymeleaf Spring Boot web application</h1>

<a th:href="@{/rezeptliste}">Rezeptliste</a>

<suggestion-input id="suggestion1"
                  suggesterurl="http:localhost:8080/rezeptsammlung/api/rezepte/tags"
                  suggesterparametername="taglist"
></suggestion-input>

<logger-component id="logger1"></logger-component>

<script th:inline="javascript">
    const logger = document.getElementById('logger1');
    const loggerClass =  customElements.get( 'logger-component' );
    if ('serviceWorker' in navigator) {
      // higher scope needed: response.setHeader("Service-Worker-Allowed", "/"); at server
      navigator.serviceWorker.register([[@{/js/service-worker.js}]], {scope: [[@{/}]]}).then(function(registration) {
        if( logger && loggerClass ){
            logger.onConsolelog('Service Worker installation succeeded');
        }else{
            console.log('Service Worker installation succeeded');
        }
      }).catch(function(error) {
        if( logger && loggerClass ){
            logger.onConsolelog(error);
        }else{
            console.log(error);
        }
      });
    } else {
      // Der verwendete Browser unterstützt Service Worker nicht.
      if( logger && loggerClass ){
        logger.onlog('Ihr Browser unterstützt keine Service Worker - tut uns sehr leid für Sie.');
      }else{
        console.log('Ihr Browser unterstützt keine Service Worker - tut uns sehr leid für Sie.');
      }
    }
</script>

</body>
</html>
